body{
  background-color: black;
  background-image: url('tictactoe1.jpg');
  background-repeat:round;
  background-size: 1270px;
  align-items: center;
  text-align: center;
}
p{
  color: white;
}
.heading{
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  font-style: oblique;
}
.out{
  color: whitesmoke;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.scores{
  color: whitesmoke;
  border-color: white;
  border-radius: 20px;
}
button{
  background-color: black;
  font-size: 60px;
}
.b1, .b2, .b4, .b5, .b7, .b8{
  margin-right: 15px;
}
.b3, .b6, .b9{
  margin-bottom: 30px;
}
.s1, .s2, .s3{
  color: white;
  font-family:fantasy;
  font-size: 40px;
}
.s1, .s2{
  margin-right: 50px;
}
.reset{
  color: white;
  font-family:fantasy;
  font-size: 40px;
}